In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
online_retails = pd.read_excel('online-retails.xlsx')

# Data Inspection

In [4]:
online_retails.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
online_retails.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [6]:
online_retails.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
273559,560841,22219,LOVEBIRD HANGING DECORATION WHITE,24,2011-07-21 12:25:00,0.72,14298.0,United Kingdom
355602,567954,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,24,2011-09-23 08:30:00,0.39,13004.0,United Kingdom
235882,557645,85088,CANDY SPOT HAND BAG,1,2011-06-21 17:08:00,4.13,NaN,United Kingdom
80575,543040,22088,PAPER BUNTING COLOURED LACE,1,2011-02-02 17:06:00,2.95,17337.0,United Kingdom
242931,558383,23068,ALUMINIUM STAMPED HEART,8,2011-06-29 08:58:00,2.49,18075.0,United Kingdom

In [7]:
online_retails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [23]:
stats= online_retails.describe()

In [25]:
stats

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [47]:
Q1_Quantity = stats.Quantity['25%']
Q3_Quantity = stats.Quantity['75%']

In [49]:
IQR_Quantity = Q3_Quantity-Q1_Quantity
IQR_Quantity

9.0

In [51]:
lower_bound_quantity = Q1_Quantity-1.5*IQR_Quantity
upper_bound_quantity = Q3_Quantity+1.5*IQR_Quantity
print(lower_bound_quantity)
print(upper_bound_quantity)

-12.5
23.5

In [ ]:
Q1_unit = stats.Quantity['25%']
Q3_unit = stats.Quantity['75%']
IQR_unit = Q3_unit-Q1_unit
IQR_unit
lower_bound_unit = Q1_unit-1.5*IQR_unit
upper_bound_unit = Q3_unit+1.5*IQR_unit
print(lower_bound_unit)
print(upper_bound_unit)

# Missing Data Handling

In [18]:
online_retails.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

ModuleNotFoundError: No module named 'jcopml'

# Data Cleaning & Transformation